body
{
  background-color: #a6cfd5;
}

#header
{
  text-align: center;
  background-color: #c2e7d9;
  border-style: solid;
  border-radius: 2px;
  border-width: 10px;
  border-color: #c2e7d9;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#name-wrapper
{
  width: 100%;
  padding-bottom: 10px;
}

#container
{
  position: relative;
  padding-right: 4.5%;
}

.navBtn
{
  width: 120px;
  height: 5%;
  background-color: #a6cfd5;
  font-size: 26px;
  color: black;
  display: inline-block;
}

.navBtn:hover
{
  background-color: #26408b;
}

#name
{
  font-size: 26px;
  height: 5%;
  color: black;
  padding-right: 2%;
}

#container2
{
  width: 100%;
}

#left
{
  width: 10%;
}

#center
{
  -webkit-column-count: 1;
  -webkit-column-gap: 40px;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 1px;
  -webkit-column-rule-color: grey;
  -webkit-column-width: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: #c2e7d9;
  border-style: solid;
  border-radius: 2px;
  border-width: 10px;
  border-color: #c2e7d9;
}

#textTitle
{
  text-align: center;
}

#realText
{
  font-size: 24px;
}

#contactText
{
  font-size: 24px;
}

#moreText
{
  font-size: 24px;
}

li
{
  color: black;
  font-size: 24px;
}

a:link
{
  text-decoration: none;
}
